---
import Socials from "@/components/Socials.astro";
import ProjectPreview from "@/components/project/ProjectPreview.astro";
import { getAllProjects, sortMDByDate } from "@/data/project";
import PageLayout from "@/layouts/BaseLayout.astro";

const MAX_PROJECTS = 10;
const allProjects = await getAllProjects();
const allProjectsByDate = sortMDByDate(allProjects).slice(0, MAX_PROJECTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">About me</h1>
		<p class="mb-4">
			I am a machine learning engineer, captivated with exploring the
			cutting-edge of technology and pushing the limits of what is possible.
		</p>
		<p class="mb-4">IBM and Southern Methodist University Alumni</p>
		<Socials />
	</section>
	<section aria-label="Recent project list" class="mt-16">
		<h2 class="title mb-4 text-xl">Recent Projects</h2>
		<ul class="space-y-4">
			{
				allProjectsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<ProjectPreview project={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
