@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.capsize::before {
  content: "";
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: "";
  margin-top: -0.219em;
  display: table;
}

* {
  -webkit-tap-highlight-color: transparent;
}
